:root{
    --bg-color: hsl(185, 75%, 39%);
    --primary-color: hsl(229, 23%, 23%);
    --secondary-color: hsl(227, 10%, 46%);
    --line-color: hsl(0, 0%, 59%, 20%);
}

.primary-color{color: var(--primary-color);}
.secondary-color{color: var(--secondary-color);}
.fw-400{font-weight: 400;}
.fw-700{font-weight: 700;}

body{
    background: url(../images/bg-pattern-top.svg) right 40vw bottom 58vh no-repeat,
     url(../images/bg-pattern-bottom.svg) left 45vw top 50vh no-repeat ,
     var(--bg-color);
    background-size: cover;
    display: grid;
    place-content: center;
}

main{
    overflow: hidden;
    border-radius: 1em;
    background-color: white;
    text-align: center;
    max-width: 324px;
    box-shadow: hsl(229deg 23% 23% / 50%) 0px 10px 50px 0px;
}

.avatar{
    margin-inline: auto;
    margin-block-start: -3em;
    border-radius: 50%;
    border: 5px solid white;
    position: relative;
}

.profile__info{
    margin-block: 1em;
    line-height: 1.7;
}

.name, .stat__number{
    font-size: 1rem;
}

.age{
    margin-inline-start: 0.3em;
}

.location{
    font-size: 0.8rem;
}

.stats{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1em;
    border-top: 1px solid var(--line-color);
}

.stat__name{
    font-size: 0.55rem;
    letter-spacing: 0.2em;
}

@media only screen and (min-width: 400px){
    body{
        background-position: right 52vw bottom 35vh, left 47vw top 52vh;
        background-size: auto;
    }

    main{
        max-width: 348px;
    }
}
